{% extends '::base.html.twig' %}

{% block body %}
<h1>Google calendar sync</h1>
<a href="{{ path('sync_link') }}">Link account</a><br>
<a href="{{ path('sync_calendar_choice') }}">Calendar choice</a><br>
<a href="{{ path('sync_unlink') }}">Unlink account</a><br>
{% endblock %}