web/bundles/
web/css
web/js
web/uploads
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build/
vendor
node_modules
composer.phar

# Mac OS X
.DS_Store
Icon
._*
.Spotlight-V100
.Trashes
