parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     take_the_register
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_encryption: ~
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    java_bin:          /usr/bin/java
    node_bin:          /usr/local/bin/node
    node_path:         /usr/local/lib/node_modules
