{% extends 'UCPAbsenceBundle::layout.html.twig' %}

{% block body %}
<h1>Prochains cours</h1>

<ul>
    {% for lesson in upcoming_lessons %}
    <li><a href="{{ path('lesson_show', { 'id': lesson.id }) }}">{{ lesson.label }}</a> <i>{{ lesson.start|date() }}</i></li>
    {% endfor %}
</ul>

{% endblock %}
