html {
    background: url(/bundles/ucpabsence/images/background-login.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

.login-box {
    width: 200px;
    padding: 16px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.75);
    label[for="username"],
    label[for="password"],
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        display: block;
    }
}
