/////////////////////
// Main style file //
/////////////////////



//// Bootstrap components

// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// Base CSS
@import "bootstrap/type.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";

// Components: Nav
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";



//// Semantic Gris System
@import 'grid.less';

@columns: 12;
@column-width: 60;
@gutter-width: 20;


// Color code
@color-lesson:white;


//// Layout
body {
    position: relative;
    max-width: 960px;
    // width: 960px;
    margin: 0 auto;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-image: url(../images/debut-light@2x.png);
    background-size: 200px;
}

// Navigation
#navigation {
    margin-top: 20px;
}

// Account box
#account-box {
    position: absolute;
    right: 0;
    padding: 2px 10px;
    line-height: 2;
    color: white;
    background-color: black;

    a {
        color: white;
    }
}

#content {
    .clearfix;
}

@borderColor: #ddd;
ul.student-list {
    .column(3);
    height: 300px;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid @borderColor;
    font-size: 1.3em;
    font-weight: lighter;
    margin-bottom: 20px;
    overflow-y: auto;

    a {
        padding: 0 10px;
        display: block;
        border-bottom: 1px solid @borderColor;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    li.active a,
    a:hover {
        background-color: @borderColor;
        text-decoration: none;
    }
}
.student-details {
    .column(7);
    .push(1);
    min-height: 400px;
    // box-sizing: border-box;
    // border: 1px solid @borderColor;
    // .border-radius(3px);
    // .box-shadow(0 0 10px 0 rgba(0,0,0,.2));
    margin-bottom: 20px;

    .flip-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        line-height: 2;
    }
    .picture {
        display: block;
        margin: 20px auto;
    }
    .name {
        margin: 16px 0;
        font-weight: lighter;
        font-size: 2em;
        text-align: center;
    }
    dl {
        margin-left: 20%;
        margin-right: 10%;
    }
    .company {
        .label {
            font-size: 1.3em;
            margin: 0 10%;
            color: #ccc;
            border-bottom: 1px solid @borderColor;
        }
        .name {
            font-size: 1.5em;
        }
    }

    // Flip 3D effect
    position: relative;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    &.flip {
        .front {
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }
        .back {
            -webkit-transform: rotateY(0);
            -moz-transform: rotateY(0);
            -o-transform: rotateY(0);
            transform: rotateY(0);
        }
    }
    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        min-height: inherit;

        background-color: white;
        .box-shadow(0 0 10px 0 rgba(0,0,0,.2));

        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        
    }
    .front {
        z-index: 2;
    }
    .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}


// Import less lesson
//@import "lesson.less";

.date-header {
    clear: both;
}

.lesson {
    .column(6);
    height: 100px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.95);
    .border-radius(3px);
    .box-shadow(1px 1px 5px 0px rgba(0, 0, 0, 0.2));
    
    .lesson-row {
	    .row(6);

	    .date,
	    .professor,
	    .label,
	    .group {
	    	.column(3,6);
	    }
	    
	    .date {
		    padding: 10px 0px 0px 10px;
		    font-size: 2em;

	    }
    }
}
