/////////////////////
// Main style file //
/////////////////////


//// Layout
body {
    position: relative;
    width: 960px;
    // max-width: 960px; // For maximum-width layout
    margin: 0 auto;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

// Navigation
.main-nav {
    .nav;
    .nav-tabs;
}

// Account box
#account-box {
    position: absolute;
    right: @gutter-width/2 * 1px;
    padding: 2px 10px;
    line-height: 2;
    color: white;
    background-color: black;

    a {
        color: white;
    }
}
