{% set active_page = 'student_admin_list' %}
{% extends 'UCPAbsenceBundle::layout.html.twig' %}

{% block content %}
<div id="content">No content</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    "@UCPAbsenceBundle/Resources/public/js/app.js"
    "@UCPAbsenceBundle/Resources/public/js/app/*.js"
    "@UCPAbsenceBundle/Resources/public/js/app/models/*.js"
    "@UCPAbsenceBundle/Resources/public/js/app/views/*.js"
    "@UCPAbsenceBundle/Resources/public/template/*.handlebars"
    "@UCPAbsenceBundle/Resources/public/js/main.js"
    filter="?closure" output="js/app.js" %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}