<div class="container">
    <ul id="navigation">
        <li><a href="#planning" data-route="planning">Planning</a></li>
        <li><a href="#absences" class="disabled" data-route="absences">Absences</a></li>
        <li><a href="#students" data-route="students">Étudiants</a></li>
        <li><a href="#groups" class="disabled" data-route="groups">Groupes</a></li>
        <li><a href="#team" class="disabled" data-route="team">Équipe pédagogique</a></li>
    </ul>
    <div id="account-box">
        {{username}}
        (<a class="logout" href="{{js_routing route="fos_user_security_logout"}}">déconnexion</a>)
    </div>
</div>