<ul id="navigation">
    <li><a href="#planning" class="active">Planning</a></li>
    <li><a href="#students">Étudiants</a></li>
    <li><a href="#">Groupes</a></li>
    <li><a href="#">Équipe pédagogique</a></li>
</ul>